{% layout "base" %}
{% block content %}

  <p>
    Nous avons reçu une demande de réinitialisation du mot de passe de votre compte
    <i>{{ projectName }}</i>.
    Si vous n'avez pas effectué cette modification, veuillez contacter l'un de vos administrateurs. Sinon, pour terminer le processus, cliquez sur le lien suivant pour confirmer votre adresse e-mail et saisir votre nouveau mot de passe.
  </p>

  <p style="text-align: center; padding: 20px 0;">
    <a href="{{ url }}">
      <b>Réinitialiser votre mot de passe</b>
    </a>
  </p>

  <p>
    <b>Important : Ce lien expirera dans 24 heures.</b>
    <br>
  </p>

  <p>
    Merci,<br>
    L'équipe {{ projectName }}
  </p>

{% endblock %}